@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=PT+Sans+Narrow:wght@400;700&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=Goldman:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=Goldman:wght@400;700&family=Gugi&family=PT+Sans+Narrow:wght@400;700&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=Goldman:wght@400;700&family=Gugi&family=PT+Sans+Narrow:wght@400;700&family=Rampart+One&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=Goldman:wght@400;700&family=Gugi&family=PT+Sans+Narrow:wght@400;700&family=Rampart+One&family=Saira+Stencil+One&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Cairo:wght@200..1000&family=Faster+One&family=Goldman:wght@400;700&family=Gugi&family=PT+Sans+Narrow:wght@400;700&family=Rampart+One&family=Saira+Stencil+One&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bevan:ital@0;1&family=Big+Shoulders+Inline+Display:wght@100..900&family=Cairo:wght@200..1000&family=Faster+One&family=Goldman:wght@400;700&family=Gugi&family=PT+Sans+Narrow:wght@400;700&family=Rampart+One&family=Saira+Stencil+One&family=Supermercado+One&family=Tiro+Bangla:ital@0;1&family=ZCOOL+QingKe+HuangYou&display=swap');
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  -webkit-animation: animate 25s linear infinite;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
}

.sps {
  background: url('@/assets/icons/bgSPS.png') ;
  height: 100vh;
  font-family: "Cairo", serif;
  font-weight: 400;
  font-style: normal;
}

.cCard {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  padding: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  -webkit-filter: p-sa0d302ow(0 30px 10px rgba(0, 0, 0, 0.125));
}
.cCardH {
 
}
.pCard {
  background-color: red !important;
}
.title {
  width: 100%;
  background-color: #4cadab !important;
  font-size: 4vh;
  color: #ffffff;
  font-weight: bold;
}

.list {
  font-size: 2vh;
  border: 0;
}
.zero{
  padding: 0;
  margin: 0;
}

.bZ{
border: 0;
}.chartPline {
  position: absolute;
  right: 0;
  border-top-right-radius: 0;
}
.chartCard {
  height: 16vh;
  font-size: 5vh;
  /* width: 100%; */
}
.cardA{
  padding-top: 2vh;
}
.bR {
  border-right: white 2px solid;
}
.bT{
  border-top: white 2px solid;

}

.fC{
  font-size: 8vh;
}
.fZ1{
  font-size: 3vh;
}
.fZ2{
  font-size: 6vh;
}
.fZ3{
  font-size: 10vh;
}
.fZ4{
  font-size: 2.7vh;
}
.fZ5{
  font-size: 2vh;
}
.c1{
  font-weight: lighter;
}

.W1{
  width: 50%;
}

.bG1{
              background-color: navy
}
.bG2{
              background-color: #ff6600
}
.bG3{
              background-color: #ff3300
}
.bG4{
  background-color: #00bf00;
}
.cPartCard{
  background-color: #6e78ff;
  color: white;
}
.card-header {
  min-height: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.cTable {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cTable div {
  padding: 0;
  margin: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.variant {
  background-color: #888;
}

.bor {
  border-right: 1px solid white;
}
